.efgm-breadcrumb{
  span{
    display: flex;
  }
  ul{
    padding-left: 0px;
    margin-top: 23px;

    .breadcrumb {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: .75rem 1rem;
      margin-bottom: 1rem;
      list-style: none;
      background-color: #e9ecef;
      border-radius: .25rem;
      background-color: transparent;
        margin-bottom: .5rem;
    }
  }
}



