<div id="dashboard">

        <mat-sidenav-container class="example-container">
                <mat-sidenav #drawer mode="side" opened role="navigation">
                  <mat-nav-list>
                      <div id="dasboard">
                         <button mat-raised-button routerLink='/personlist'>Personenliste</button>
                         <button mat-raised-button routerLink='/angragen'>Anfragen</button>                       <button mat-raised-button routerLink='/message'>Anfragen</button>
                        <button mat-raised-button routerLink='/offerten'>Offerten</button>
                        <button mat-raised-button routerLink='/activitiylog'>Activity Log</button>
                        <button mat-raised-button routerLink='/message'>Message</button>
                    </div>
                    <a mat-list-item routerLink='/message'>Message Component</a>
                    <a mat-list-item routerLink='/anfragen'>Anfragen Component</a>
                  </mat-nav-list>
                </mat-sidenav>
                <mat-sidenav-content>
                  <router-outlet></router-outlet>
                </mat-sidenav-content>
              </mat-sidenav-container>
    <button mat-raised-button>Anfragen</button>
    <button mat-raised-button>Offerten</button>
    <button mat-raised-button>Activity Log</button>
    <button mat-raised-button>Message</button>
</div>

