<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div style="text-align:center"></div>
<div class="main">
<div id="header-area">
  <div id="homeAndLanguageArea">
    <div id="home-icon"> <i class="material-icons" id="home-icon">
        home
      </i></div>
    <div id="language-area"><a href="">Deutsch</a>
      <a href="">English</a>
      <a href="">Français</a></div>
    <a href="">Italien</a>
  </div>
  <div class="orange-border"></div>
  <div id="logoAndSearchArea">
    <div id="logo"></div>
    <div id="search"><input type="text" placeholder="Suchen"></div>
    <i class="material-icons" id="search-icon">
      search
    </i>
  </div>

</div>
</div>