

<div class="footer"> 
  <div class="footer-content">
                     <div class="sitemap-columns-wrapper additional-info">
                                        <nav class="sitemap sitemap-column">
                                                           <p class="sitemap-title">Über uns

                       </p>
                       <ul>
                                          <li class=" d_kontakt"><div>
                                                             <a href="http://">Kontakt</a>
                                          </div></li>
                                          <li class=" d_impressum">
                                                                               <div>
                                                                                                                     <a href="http://">Impressum</a>
                                                                                                  </div>
                                          </li>
                                          <li class=" d_agbdatenschutz">
                                                                               <div>
                                                                                                                     <a href="http://">AGB & Datenschutz</a>
                                                                                                  </div>
                                          </li>
                                          <li class=" d_vertraulichetipps">
                                                                               <div>
                                                                                                                     <a href="http://">Vertrauliche Tipps</a>
                                                                                                  </div>
                                          </li>
                       </ul>


                                        </nav>
                                        <nav class="sitemap sitemap-column">
                                                            <p class="sitemap-title">FAQ

                        </p>
                        <ul>
                                           <li class=" faq-content"><div>
                                                              <a href="http://"></a>
                                           </div></li>
                                           <li class="faq-content ">
                                                                                <div>
                                                                                                                      <a href="http://"></a>
                                                                                                   </div>
                                           </li>
                                           <li class=" faq-content">
                                                                                <div>
                                                                                                                      <a href="http://"></a>
                                                                                                   </div>
                                           </li>
                                           <li class=" faq-content">
                                                                                <div>
                                                                                                                      <a href="http://"></a>
                                                                                                   </div>
                                           </li>
                        </ul>


                                         </nav>
                                         <nav class="sitemap sitemap-column">
                                                                               <p class="sitemap-title">Über uns

                                           </p>
                                           <ul>
                                                              <li class=" d_kontakt"><div>
                                                                                 <a href="http://">Kontakt</a>
                                                              </div></li>
                                                              <li class=" d_impressum">
                                                                                                   <div>
                                                                                                                                         <a href="http://">Impressum</a>
                                                                                                                      </div>
                                                              </li>
                                                              <li class=" d_agbdatenschutz">
                                                                                                   <div>
                                                                                                                                         <a href="http://">AGB & Datenschutz</a>
                                                                                                                      </div>
                                                              </li>
                                                              <li class=" d_vertraulichetipps">
                                                                                                   <div>
                                                                                                                                         <a href="http://">Vertrauliche Tipps</a>
                                                                                                                      </div>
                                                              </li>
                                           </ul>


                                                            </nav>
                                                            <nav class="sitemap sitemap-column">
                                                                                                  <p class="sitemap-title">Social
    
                                                              </p>
                                                              <ul>
                                                                                 <li class=" social-facebook"><div>
                                                                                                    <a href="http://">Facebook</a>
                                                                                 </div></li>
                                                                                 <li class=" social-twitter">
                                                                                                                      <div>
                                                                                                                                                            <a href="http://">Twitter</a>
                                                                                                                                         </div>
                                                                                 </li>
                                                                                 
                                                              </ul>
    
    
                                                                               </nav>
                                                                                                   
                                       
                     </div>

  </div>

</div>

