* {
                   margin: 0;
                   padding: 0;

}


div {
                   display: flex;
                   flex-direction: row;
                   flex-wrap: wrap;
                   justify-content: space-around;
                   flex: 1;


}

.sitemap-title{
                   font-weight: bolder;
}


.footer-content {
  border-top: 3px solid rgba(255, 200, 98, 0.904);
  border-top-style: groove;
                   background: #fff;
                   font-family: RobotoRegular, Arial, sans-serif;
                   font-size: 1.4 rem;
                 line-height: 2.6 rem;
                   color: #505050;
}

ul li {
                   font-weight: 300;
                   list-style-type: none;
                   color: #505050;

}

a {
                   text-decoration-line: none;
                   color: rgb(0, 0, 0);
                   z-index: 7;
                   margin-top: 10%
}

.fa {
  padding: 7px;
  font-size: 13px;
  width: 5px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: rgb(26, 25, 25);
  color: white;
  border-radius: 30%;
}

/* Twitter */
.fa-twitter {
  background:  rgb(26, 25, 25);
  color: white;
  border-radius: 30%;
}