<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="footer">
  <div class="footer-content">
    <div class="sitemap-columns-wrapper additional-info">
      <nav class="sitemap sitemap-column">
        <div class="sitemap-title">Über uns

        </div>
        <ul>
          <li class=" d_kontakt">
            <div>
              <a href="http://">Kontakt</a>
            </div>
          </li>
          <li class=" d_impressum">
            <div>
              <a href="http://">Impressum</a>
            </div>
          </li>
          <li class=" d_agbdatenschutz">
            <div>
              <a href="http://">AGB & Datenschutz</a>
            </div>
          </li>
          <li class=" d_vertraulichetipps">
            <div>
              <a href="http://">Vertrauliche Tipps</a>
            </div>
          </li>
        </ul>


      </nav>
      <nav class="sitemap sitemap-column">
        <div class="sitemap-title">FAQ

        </div>
        <ul>
          <li class=" faq-content">
            <div>
              <a href="http://"></a>
            </div>
          </li>
          <li class="faq-content ">
            <div>
              <a href="http://"></a>
            </div>
          </li>
          <li class=" faq-content">
            <div>
              <a href="http://"></a>
            </div>
          </li>
          <li class=" faq-content">
            <div>
              <a href="http://"></a>
            </div>
          </li>
        </ul>
</nav>
      <nav class="sitemap sitemap-column">
        <div class="sitemap-title">Social

        </div>
        <ul>
          <li class=" social-facebook">
            <div>
              <a href="http://"></a><a href="#" class="fa fa-facebook"></a>
            </div>
          </li>
          <li class=" social-twitter">
            <div>
              <a href="http://"></a><a href="#" class="fa fa-twitter"></a>
            </div>
          </li>

        </ul>


      </nav>


    </div>

  </div>

</div>
 