<!-- FIX THIS FILE-->
<!-- https://tburleson-layouts-demos.firebaseapp.com/#/docs -->
<div style="text-align:center"></div>
<div id="main">
  <div id="header-area">
    <div id="homeAndLanguageArea">
      <div id="home-icon"> <i class="material-icons" id="home-icon">
          home
        </i></div>
      <div id="language-area">
        <a href="">Deutsch</a>
        <a href="">English</a>
        <a href="">Français</a></div>
        <a href="">Italien</a>
        <a href="" [routerLink]="['/', 'home']">logout</a>
    </div>
    <div class="orange-border"></div>
    <div id="logoAndSearchArea">
      <div id="logo"></div>
      <div id="search"><input type="text" placeholder="Suchen"></div>
      <i class="material-icons" id="search-icon">
        search
      </i>
    </div>

  </div>
</div>

<div id="dashboard">
  <button mat-raised-button>Anfragen</button>
  <button mat-raised-button>Offerten</button>
  <button mat-raised-button>Activity Log</button>
  <button mat-raised-button>Message</button>

</div>
