.navbar {
  background: #fff;
  height: 120px;
  padding: 1.5rem 0 1.5rem 0;
  -webkit-box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
  box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-left{
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    padding-left: 50px;
    .toggle-holder{
      mat-icon{
        font-size: 32px;
      }
    }
  }

  .navbar-right {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    margin-right: 50px;
    .user {
      text-align: right;
    }
  }



}

.fixed-bottom, .fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
