

<div fxLayout="column">
  <div fxFlex="20"> &nbsp;</div>
  <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="example-card"  >
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          Lutfen google login ile sorulan public bilgilere izin veriniz.
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">
          <!--
<a href="{{url}}">Login with Google</a>
          -->
          <a href="/management">Degistir bunu</a>
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div fxFlex="20">&nbsp;</div>
</div>

