

<div id="nav">
   
  <div class="bar">
      <a href="#home" class="active" onclick="myFunction">Menu</a>
    <div class="btn_Nav">
    
      <button class="navi_btn" mat-button [matMenuTriggerFor]="menu">Home</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button class="navi_btn" mat-button [matMenuTriggerFor]="menu">About us</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button class="navi_btn" mat-button [matMenuTriggerFor]="menu">Contact</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button class="navi_btn" mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button class="navi_btn" mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
    <div class="log_in">
      <!-- login buttons  -->
      <div class="A">
      <mat-icon  class="btn_icon">account_box</mat-icon>
    </div>
    <div class="B">
      <button>Login</button>
      

    </div>
    </div>
      <div class="mob_Menu" > 
        <!--mobile menu apparence  -->
        <button class="btn_Mob_Menu"><i class="material-icons">menu</i></button>
        <a href="../login-page/login-page.component.ts" class="btn_Mob_Menu" onclick="myFunction()">
            <i class="material-icons">menu</i>
          </a>
        </div> 
  </div>

</div>


<a href="https://madeby.google.com/static/images/google_g_logo.svg"></a> 



<!-- <router-outlet></router-outlet> -->

<!-- 

<script>
  function myFunction() {
    var x = document.getElementById("btn_Nav");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script> -->