
$EFGM0:#fff8e1;
$EFGM50:#ffecb3;
$EFGM100: #ffe082;
$EFGM200: #ffd54f;
$EFGM300: #ffca28;
$EFGM400: #ffc107;
$EFGM500: #ffb300;
$EFGM600: #ffa000;
$EFGM700: #D48A04;
$EFGM800: #ff6f00;
$EFGM900: #ff7835;
$A100: #FFE57F;
$A200: #FFD740;
$A400: #FFC400;
$A700: #FFAB00;
