

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

 <!--- Note that these columns can be defined in any order.
       The actual rendered columns are set as a property on the row definition" -->

 <!-- Position Column -->
 <ng-container matColumnDef="id">
   <th mat-header-cell *matHeaderCellDef> id </th>
   <td mat-cell *matCellDef="let element"> {{element.id}} </td>
 </ng-container>

 <!-- Name Column -->
 <ng-container matColumnDef="firstname">
   <th mat-header-cell *matHeaderCellDef> firstname </th>
   <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
 </ng-container>

 <!-- Weight Column -->
 <ng-container matColumnDef="lastname">
   <th mat-header-cell *matHeaderCellDef> lastname </th>
   <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
 </ng-container>

 <!-- Symbol Column -->
 <ng-container matColumnDef="city">
   <th mat-header-cell *matHeaderCellDef> City </th>
   <td mat-cell *matCellDef="let element"> {{element.city}} </td>
 </ng-container>

 <ng-container matColumnDef="canton">
   <th mat-header-cell *matHeaderCellDef> Canton </th>
   <td mat-cell *matCellDef="let element"> {{element.canton}} </td>
 </ng-container>


 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>