<div id="main-content">

  <div id="table-border">
    <div id="left-side">
      <div class="form">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Vorname" class="full-width">
      </mat-form-field>
    </div>

      <mat-form-field appearance="outline">
        <input matInput placeholder="Name" class="full-width">
      </mat-form-field>

      <mat-form-field appearance="outline">

        <input matInput placeholder="Benutzername" class="full-width">
      </mat-form-field>

      <div id="birth">
        <mat-form-field class="textButton" appearance="outline">

          <input matInput placeholder="Geburtsdatum" readonly>

        </mat-form-field>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>

      <div id="gender-row">
          <mat-checkbox class="gender" id="woman">Weiblich</mat-checkbox>
          <mat-checkbox class="gender" id="man">Männlich</mat-checkbox>
      </div>

      <mat-form-field appearance="outline">
        <div id="strateNr">
         
          <input matInput placeholder="Strasse" class="half-width" id="strate">
       
          <input matInput placeholder="Nummer" type="text" class="half-width" id="number">
        </div>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <div id="plzCity">
          <input matInput placeholder="PLZ" type="text" id="PLZ">
          <input matInput placeholder="Ort" class="half-width" id="city">
        </div>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput placeholder="Email" type="email" class="full-width">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput placeholder="Handynummer" type="text" class="full-width">
      </mat-form-field>

      <mat-form-field class="textButton" appearance="outline">
        <div>
          <input matInput placeholder="Verwandte" type="text" readonly>
        </div>
      </mat-form-field>

      <mat-form-field class="textButton" appearance="outline">
        <input matInput placeholder="Talents" type="text" readonly>
      </mat-form-field>
    </div>

    <div id="right-side"></div>

  </div>
</div>