#main-content {
    display: flex;
    justify-content: center;
}

tr {
    width: 350px;
    height: 20px;
    padding: none;
}

td {
    width: 200px;
}

p {
    width: 150px;
    height: 20px;
    text-align: end;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
    width: 300px;
    height: 25px;

}

#strateNr{display: flex;}

#strate {
    width: 220px;
    display: inline-block;
    height: 25px;
 
}

#number {
    width: 77px;
    display: flex;
    height: 25px;
    margin-top: 0;
    margin-left: 5px;
      
}
.mat-datapicker-toggle{height: 25px; margin-left: -50px;}
.mat-icon-button {height: 25px;}

#PLZ{width: 77px; display: flex; height: 25px;}
#city {
    display: inline-block;
    width: 220px;
    height: 25px;
}



#woman{margin-left: 10px; font: inherit;}
#man{margin-left: 200px;}

#gender-row {
    width: 300px;
    display: flex;
    margin-top: 40px;
}


#plzCity{display: flex;}


.raised-btn {
    border-radius: 50%;
    display: inline-block;
    margin-left: 30px;
    margin-top: 13px;
    border: 2px solid;
}

button {
    text-align: start;


}

table {
    background-color: #F6F6f6;
    font-family: 'Open Sans', sans-serif;
    font: 400 13.3333px Arial;
    color: #7a7a7a;
    margin: 20px;

}

#table-border {
    display: flex;
    flex-direction: row;
    border: 5px outset #D48A04;
    height: 500px;
    width: 670px;
    padding: 20px;
    display: flex;
    margin-top: 20px;
    justify-content: left;
}

#image-space {
    width: 155px;
    background-color: #F6F6f6;
    height: 200px;
    margin-top: 20px;
    margin-left: 125px;
}

.btn {
    display: block;
    width: 155px;
    height: 50px;
    margin-top: 210px;
    margin-left: 100px;
    border-width: 2px;



}

.form{height: 20px;}

#save-profil {
    margin-top: 345px;
    margin-left: 100px;

}

#save-img {
    margin-top: 250px;
    margin-left: 125px;
}

#upload {
    margin-left: 125px;
    margin-top: 230px;
}



#img-area {
    width: 155px;
    height: 50px;
    margin-top: 20px;
    margin-left: 30px;
}

.mat-form-field-infix {
    padding: 0;
    border-top: 0;
    height: 0px;
    display: flex;
    height: 25px;
}


.mat-form-field.mat-primary {
    height: 30px;
}

.mat-form-field {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 20px;
    padding: none;
}

#strate {
    display: flex;
}

#right-side {
    display: flex;
    flex-direction: column;
}

#left-side>.mat-form-field {
    display: flex;
    flex-direction: column;
}

#relations, #talents{
    height: 25px;
    width: 100px;
   
}

#talents-btn{margin-top: -65px;}
#relations-btn{margin-top: -65px;}

.textButton{display: flex; width: 150px;}

#birth{display: flex;}
.mat-form-field{ margin-top: 35px; padding: 0 !important;}

.mat-form-field-appearance-outline.mat-form-field-infix{padding-top: 0px !important; padding-bottom: 0px !important}

div.mat-form-field-infix{padding-top: 0px !important;
padding-bottom: 0px !important;}
.mat-input-element{padding: 0 !important;}




